/*  页面副标题01  */
.page_title_01_1 {
  padding: 1rem;
  background-color: #fff; }
  .page_title_01_1 dl {
    zoom: 1;
    line-height: 2.8rem;
    color: #000; }
    .page_title_01_1 dl:before, .page_title_01 dl:after {
      content: "";
      display: table; }
    .page_title_01_1 dl:after {
      clear: both;
      overflow: hidden;
      height: 0;
      clear: both;
      visibility: hidden; }
  .page_title_01_1 dt {
    float: left;
    text-align: left;
    font-size: 1.4rem; }
    .page_title_01_1 dt span {
      font-size: 1.3rem; }
  .page_title_01 dd {
    float: right;
    text-align: right;
    font-size: 1.3rem; }
    .page_title_01 dd i {
      width: 2.8rem;
      height: 2.8rem;
      font-style: normal;
      display: inline-block;
      margin-right: 0.5rem;
      background: url("../images/icon/ico-liebiao_select.svg") no-repeat right center/auto 1.9rem;
      float: left; }

	.GroupBuy_searchResult dl:before, .GroupBuy_searchResult dl:after {
      content: "";
      display: table; }
    .GroupBuy_searchResult dl:after {
      clear: both;
      overflow: hidden;
      height: 0;
      clear: both;
      visibility: hidden; }
  .GroupBuy_searchResult dt {
    float: left; }
  .GroupBuy_searchResult dd {
    float: right; border:1px solid green;}
	 .GroupBuy_searchResult dd span .zan{
		    background-color: #ffaa0d;
			font-weight: 600;
			font-size: 1.4rem;
			display: inline-block;
			line-height: 2.8rem;
			width: 6rem;}
  .GroupBuy_searchResult dl {
    border: 1px solid #dbdbdb;
    background-color: #f9f9f9;
    padding: 10px 10px 10px 10px;
    position: relative;
    margin-bottom: 10px; 
	}
	

	
	
	 .tab_switch ul.threeLi li {
      width: 19.73333333333333333333333333333333%; }
      
  .tab_switch li {
    padding: 5px;
    text-align: center;
    font-size: 1.7rem;
    box-sizing: border-box;
    float: left;
    font-weight: 600;
    width: 100%;
    border: none; }
    .tab_switch li.selected {
      border-bottom: 5px solid #ffaa0d; }
      
      
      /**
 * __技师列表页面
 */
.jishi_name{}.GroupBuy_searchResult_1 {
  padding: 5px 10px; }
  
	.ItemDetailsPhoto_1 {
	  width: 100%;
	  height: 17rem;
	  overflow: hidden;
	  position: relative; 
	  }
	  .ItemDetailsPhoto_1 img {
		width: 100%;
		height: auto; }
		
		.listtext{
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			height:30px;
			z-index:20;
			background: url("../images/photo/listtext_bg.png")repeat-x;
			text-align: center;
			padding:0 5px;
			line-height: 2.5rem;
			font-weight: 600;
			font-size: 1.4rem;
			color:#fff;
			}
		 .taghot{
				position:absolute;
				top:15px;
				right:0;
				border-radius:2px 0 0 2px;
				z-index:20;
				background: #FFB707;
				text-align: center;
				line-height: 0.5rem;
				font-weight: 600;
				font-size: 1.4rem;
				padding:10px 20px;
				}
		 
    
	.listtextbox{ 
	  background:#fff;
	  padding:1rem 15px;}
	  .GroupBuy_searchResult_1 h3 {
		float:left;   
		font-size: 1.8rem;}
	  .GroupBuy_searchResult_1 dl {
		float:right;
		margin-bottom: 10px; 
		color:#A8A8A8;
	    font-size: 1.4rem;}
		.GroupBuy_searchResult_1 dl:before,  .listtextbox:before,.listtextbox:after {
		  content: "";
		  display: table; }
		.GroupBuy_searchResult_1 dl:after,.listtextbox:after {
		  clear: both;
		  overflow: hidden;
		  height: 0;
		  clear: both;
		  visibility: hidden; }
			.GroupBuy_searchResult_1 dl img {
			  height: 1.5rem;
			  width: auto;
			  vertical-align: middle;
			  margin-right: 10px;
			  margin-top:-3px}
			  
			  
			  .ItemDetails_mod02 {
  border: 1px solid #dbdbdb;
  margin: 10px;
  padding: 10px;
  color: #6b6b6b;
  background-color: #f9f9f9; }
  .ItemDetails_mod02 h3 {
    margin-bottom: .5rem; }
  .ItemDetails_mod02 p {
    line-height: 1.6rem; }

.ItemDetails_mod02_1 {
  border: 1px solid #dbdbdb;
  margin: 1rem 10px;
  padding: 10px;
  color: #6b6b6b;
  background-color: #f9f9f9; }
  .ItemDetails_mod02_1 h2 {
    margin-bottom: .5rem; }
  .ItemDetails_mod02_1 p {
    line-height: 1.6rem; }
    
    
    	
.ItemDetails_Evaluation {
  padding: 0 10px; }
  .ItemDetails_Evaluation dl {

    border-bottom: 1px solid #dbdbdb;
    color: #6b6b6b; }
  .ItemDetails_Evaluation dt {
    margin-bottom: .5rem;
    line-height: 1.6rem; }
  .ItemDetails_Evaluation dd {
    zoom: 1;
    height: 2rem;
    line-height: 2rem; }
    .ItemDetails_Evaluation dd:before, .ItemDetails_Evaluation dd:after {
      content: "";
      display: table; }
    .ItemDetails_Evaluation dd:after {
      clear: both;
      overflow: hidden;
      height: 0;
      clear: both;
      visibility: hidden; }
    .ItemDetails_Evaluation dd span:nth-of-type(1) {
      float: left;
      margin-right: 10px; }
    .ItemDetails_Evaluation dd span:nth-of-type(2) {
      float: left; }
    .ItemDetails_Evaluation dd span:nth-of-type(3) {
      float: right; }
  .ItemDetails_Evaluation .star_ratingbar_box {
    height: 2rem;
    margin-right: 10px;
    float: right;
    width: 30%; }
  .ItemDetails_Evaluation .star_ratingbar_g {
    height: 2rem; }

.ItemDetails_Evaluation_more {
  background-color: #6b6b6b;
  color: #f9f9f9;
  line-height: 4rem;
  font-weight: 600;
  text-align: center; }





































      